<div class="col col-11 shadow my-2 border mx-auto"
    style="border-radius: 5px; background-color: rgba(52, 159, 221, 0.582);">
    <h1 class="p-2 m-2 jumbotron mx-auto text-center"
        style="background-color: rgba(255, 255, 255, 0.842); font-style: italic; font-weight: bold">
        PROJECTS</h1>
        <div class="container pt-2 pb-0 col col-12">
            <section class="mb-3 " style="opacity: 75%;" align="center">
                
                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-3 shadow bg-light" target="_blank"
                    href="https://github.com/r-silver1" role="button" style="border-radius: 3vw;"><img style="max-height: 5vmax"
                        src="https://img.icons8.com/nolan/64/github.png" /></a>
            
    
            </section>
            
        </div>
    <hr>
</div>