<div class="col col-11 shadow my-2 border mx-auto"
    style="border-radius: 5px; background-color: rgba(52, 159, 221, 0.582);">
    <h1 class="p-2 m-2 jumbotron mx-auto text-center"
        style="background-color: rgba(255, 255, 255, 0.842); font-style: italic; font-weight: bold">
        GUEST BOOK </h1>
    <div class="container pt-2 pb-0 col col-12">
        <section class="lead card text-left mb-3 shadow p-2" style="opacity: 75%;" align="center"
            style="background-color: rgba(255, 255, 255, 0.842); font-size: calc(100% +1vh);">
            Please sign my guest book! <hr> (powered by NodeJS and MongoDBr)
        </section>

    </div>
    <hr>


    <div class="card mx-auto my-4 shadow text-left" style="background-color: rgba(255, 255, 255, 0.842)">
        <div class="container p-2">
            <h1 style="font-style: italic">
                Card Section
            </h1>
            <hr>
            <div class="row my-1 mx-auto" style="width: 100%">
                <div class="col col-12">
                    <div class="col col-8 mx-auto">
                        Subsection
                    </div>
                    <hr>
                    <h2 class="lead text-left" style="font-size: calc(80% + 1vh)">
                        Subsection2
                    </h2>
                </div>

            </div>
        </div>
    </div>

    


</div>