

<div class="col col-11 shadow my-2 border mx-auto"
style="border-radius: 5px; background-color: rgba(52, 159, 221, 0.582);">
<h1 class="p-2 m-2 jumbotron mx-auto text-center"
    style="background-color: rgba(255, 255, 255, 0.842); font-style: italic; font-weight: bold">
    WEB </h1>
    <div class="container pt-2 pb-0 col col-12">
        <section class="lead card text-left mb-3 shadow p-2" style="opacity: 75%;" align="center" style="background-color: rgba(255, 255, 255, 0.842); font-size: calc(100% +1vh);">
            COMING SOON!
            <hr>
            A quick overview of web apps
        </section>
        
    </div>
<hr>


<div class="card mx-auto my-4 shadow text-left" style="background-color: rgba(255, 255, 255, 0.842)">
    <div class="container p-2">
        <h1 style="font-style: italic">
            WEBSITE 1
        </h1>
        <hr>
        <div class="row my-1 mx-auto" style="width: 100%">
            <div class="col col-12">
                <div class="col col-8 mx-auto">
                    <img class="border shadow rounded" src="https://user-images.githubusercontent.com/194400/49531010-48dad180-f8b1-11e8-8d89-1e61320e1d82.png" style="width: 100%; object-fit: cover; cursor: pointer">
                    
                </div>
                <h2 class="lead text-left" style="font-size: calc(80% + 1vh)">
                    Here I will describe the website
                </h2>
            </div>
            
        </div>
    </div>
</div>


